.dataTables_filter{
    margin-bottom: 10px;
}

table{
    line-height: 15px;
    
}

.form-control[readonly]{
    background-color: transparent;
}

.hr-primary{
    background-color: #0d6efd;
}

.table{
    margin-bottom: 0px;
}

.fs-8{
    font-size: 8px;
}

.fs-10{
    font-size: 10px;
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

